/* Page and Background */
.App {
  min-height: 100vh;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  font-family: "Comic Neue";
  background-image: url("./images/animal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Character Cards */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 385px;
  border-radius: 18px;
  margin: 15px;
  border: 1px solid grey;
  box-shadow: 1px 1px 8px 1px white;
  font-size: 18px;
  text-transform: capitalize;
  background-color: #ecefd6;
}

/* Images of Villagers */
img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-color: black;
  padding: 10px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin: 10px;
}
/* Container the Villager cards fit into on the page */
.container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
}

/* Villager Names on Cards */
h3 {
  text-align: center;
  font-family: "Grandstander";
}

.wishBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  background-color: #3e9f3d;
  font-weight: bold;
  border: 1px solid grey;
  margin: 18px;
  text-decoration: none;
  font-size: 16px;
}

.wishBtn:hover {
  box-shadow: 1px 1px 8px 1px black;
}
a:hover {
  text-decoration: none;
}
