.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./images/AnimalCrossingBackground.png");
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
  border-radius: 18px;
  margin: 10px;
  border: 1px solid grey;
  box-shadow: 1px 1px 8px 1px white;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Comic Neue";
  background-color: fff;
}

img {
  float: left;
}

.container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
}
